version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    # Optionally enable security-only updates by uncommenting the following line
    # allow:
    #   - dependency-type: "all"
