# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pr:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: Cache@2
  displayName: 'Cache npm'
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    restoreKeys: |
      npm | "$(Agent.OS)"
    path: '$(Pipeline.Workspace)/.npm'

- script: |
    npm ci
    npm audit --omit=dev --audit-level=high
    npm run build
  displayName: 'npm ci, audit, and build'
  env:
    NPM_CONFIG_CACHE: $(Pipeline.Workspace)/.npm

- task: PublishBuildArtifacts@1
  displayName: 'Publish dist artifact'
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'dist'
